<%= form_with theme: 'modal', model: @app, scope: '', url: { action: 'update_cert' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.file_field :cert %>
  </section>
  <%= f.submit %>
<% end %>
